/*start courses style section*/
.section-title span {
    position: relative;
}

.section-title span::before {
    left: -55px;
    top: 8px;
    display: inline-block;
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    background-color: orange;
}

.section-title span::after {
    right: -55px;
    top: 8px;
    display: inline-block;
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    background-color: orange;
}

.card {
    box-shadow: 2px 2px 2px #f3f3f3;

}


.card-body img {
    width: 35px;
    height: 35px;
    filter: brightness(0.5);
    margin-left: 10px;
}

.card-body .course-title {
    top: 0;
    left: 51px;
    margin-left: 10px;
}

.card-body .course-title a {
    color: black;
    font-size: 20px;
}

.card-body .course-title p {
    font-size: 18px;
    color: #adadad;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Set a max-width as per your design */
}
.card-header .card-overlay{
    background-color: red;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 1s ease-in;

}
.card:hover .card-overlay{
    opacity: 1;
}
/*end courses style section*/