.static_section_wrapper {
    background-color: #ffc412;
    height: 300px;
    text-align: center;
}

.static_section_wrapper img {
    margin-top: 40px;
}

.static_section_wrapper .count {
    color: white;
    font-size: 26px;
    margin: 30px;
}

.static_section_wrapper .count-title {
    font-size: 16px;
    font-weight: bold;
}