@import "_grid-system.css";
@import "_reset.css";
@import "_contact.css";

/*start navbar section*/
.nav {
    background-color: #efefef;
    overflow: hidden;
}

.nav a {
    float: left;
    color: rgba(46, 46, 46);
    text-align: center;
    padding: 14px 16px;
}

.nav a.active-link {
    border-bottom: 2px solid darkred;
}

.nav a:hover {
    border-bottom: 2px solid darkred;
}

.humberger-menu {
    display: none;
}

@media screen and (max-width: 765px) {
    .nav a:not(:first-child) {
        display: none;
    }
    .nav .humberger-menu{
        display: block !important;
        float: right;
    }
    .nav.responsive{
        position: relative;
    }
    .nav.responsive a.humberger-menu{

    }
    .nav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}

/*end navbar section*/